<div id="chat" class="container-fluid" style="display: none; margin-top: 20px;">
    <div class="row">
        <div class="col-sm-3 text-center">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <a href="/" class="btn aqua-gradient">Exit</a>
                    </div>
                </div>
            </div>
            <div id="usersConnected" class="container">
                
            </div>
        </div>
        <div class="col-sm-9 text-center">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 text-center p-3" style="background-color: blue;">
                        <h5 style="color: #fff;">User Name talking to</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 text-center p-3">
                        <p><strong>Name: </strong>Message</p>
                        <p><strong>Name: </strong>Message</p>
                        <p><strong>Name: </strong>Message</p>
                        <p><strong>Name: </strong>Message</p>
                        <p><strong>Name: </strong>Message</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>