<div id="session" class="container text-center" style="display: none">
    <div class="container text-center" style="margin-top: 20px;">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h4>Enter your name</h4>
                <hr />
                <form class="text-center border border-light p-5">
                    <div class="form-row mb-4">
                        <div class="col">
                            <label>Your name:</label>
                        </div>
                        <div class="col">
                            <input type="text" id="name" class="form-control" placeholder="Your name">
                        </div>
                    </div>
                </form>
                <button onclick="enter()" class="btn aqua-gradient">Enter</button>
            </div>
        </div>
    </div>
</div>