{{> header}}
    {{> navbar}}
    <div class="container-fluid" style="margin-top:10px;">
        <div class="row">
            <div class="col-sm-2 text-center">Turns to be called</div>
            <div class="col-sm-8 text-center">Actual called Turn</div>
            <div class="col-sm-2 text-center">Turns Called</div>
        </div>
    </div>
{{> footer}}