        <hr />
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    © {{ getActualYear }} - Víctor Andrés Pedraza León - <a href="vapedraza.com"><i class="fas fa-dumbbell"></i> My Web Site</a>
                </div>
            </div>
        </div>
    </body>
</html>